SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="3001", MODE="0660", TAG+="uaccess"
KERNEL=="hidraw*", ATTR{idVendor}=="1209", ATTR{idProduct}=="3001", MODE="0660", TAG+="uaccess"

