[user]
  name = Jon C
  email = me@jonc.dev
  signingkey = /home/jon/.ssh/github_id_rsa.pub
[credential]
  helper = cache --timeout=3600
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft --display inline "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[diff]
  algorithm = histogram
  colorMoved = plain
  renames = true
  tool = difftastic
  submodule = log
[alias]
  g = grep
  b = branch
  s = switch
  d = diff
  fp = fetch --prune
  st = status
  pl = pull --rebase
  plum = pull --rebase upstream main
  plums = pull --rebase upstream master
  logdog = log --decorate --pretty=oneline --abbrev-commit --graph
  loglint = log --format=%s -- .
  dt = difftool
[column]
  ui = auto
[fetch]
  prune = true
[push]
	default = simple
[pull]
  rebase = true
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  commentChar = ";"
[merge]
  conflictstyle = zdiff3
[init]
  defaultBranch = main
[commit]
  verbose = true
  gpgsign = true
  template = ~/.gitmessage
[rerere]
  enabled = true
  autoupdate = true
[status]
  submoduleSummary = true
[submodule]
  recurse = true
[gpg]
  format = ssh
[tag]
  sort = version:refname
  gpgSign = true
