[user]
	name = Jon Cinque
	email = jonathan.r.cinque@gmail.com
[credential]
	helper = cache --timeout=3600
[difftool]
	prompt = false
[diff]
    tool = gvimdiff
[alias]
    st = status
    pl = pull --rebase
    logdog = log --decorate --pretty=oneline --abbrev-commit --graph
    dt = difftool
