[user]
  name = Jon C
  email = me@jonc.dev
[credential]
  helper = cache --timeout=3600
[difftool]
  prompt = false
[diff]
  tool = difftastic
  algorithm = histogram
  colorMoved = default
  submodule = log
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[alias]
  g = grep
  b = branch
  fp = fetch --prune
  st = status
  pl = pull --rebase
  logdog = log --decorate --pretty=oneline --abbrev-commit --graph
  loglint = log --format=%s -- .
  dt = difftool
  # subtree add
  sba = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
  # subtree update
  sbu = "!f() { git subtree pull --prefix $2 $1 master --squash; }; f"
  # subtree push
  sbp = "!f() { git subtree push --prefix $1 $2 $3; }; f"
[push]
	default = simple
[pull]
  rebase = true
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[merge]
  conflictstyle = zdiff3
[init]
  defaultBranch = main
[commit]
  verbose = true
[rerere]
  enabled = true
[status]
  submoduleSummary = true
[submodule]
  recurse = true
