ServerAliveInterval 10
ServerAliveCountMax 1
Host github.com
    Hostname github.com
    User git
    IdentityFile ~/.ssh/github_id_rsa
Host gitlab.com
    Hostname gitlab.com
    User git
    IdentityFile ~/.ssh/github_id_rsa
Host soldev
    Hostname 136.144.48.169
    User sol
